.form-register1{
    width: 700px;
    background: rgb(5, 95, 146);
    padding: 15px;
    margin: auto;
    margin-top: 130px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
    box-shadow: 7px 7px 20px black;
    text-align: center;
    }
    #nombre{
      text-align: center;
      margin-top: 10%;
    }
  #menu{
      float: right;
    }

    #menu1{
        float: right;
        margin-top: -130px;
      }

      #imagen1{
        width: 300px;
        box-shadow: 7px 7px 20px black;
        margin: auto 10px;
        margin-top: 10px;
      }
      #imagen{
        margin-top: -120px;
        margin-left: 10px;
        width: 300px;
        box-shadow: 7px 7px 20px black;  
      }
  .nav-item{
    margin: auto 10px;
    margin-top: 10px;
  }



 
   


  

  
  